{% extends 'base.html' %}

{% block head %}
    <title>Test {{ test|capfirst }}</title>
    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/card.css?v=132' %}" rel="stylesheet">
    <script>

    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom border-light d-none d-md-block">
        <div class="container">
            {% load static %}
            <a href="{% url 'vocab:index' %}"><img src="{% static 'images/logo.png' %}" type="image/png"></a>
            <a class="navbar-brand" href="{% url 'vocab:index' %}">Shiksha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#lecture">
                            <span>Lecture Tests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#session">
                            <span>Session Tests</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="d-block d-md-none navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom border-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'vocab:index' %}">Shiksha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#lecture">
                            <span>Lecture Tests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#session">
                            <span>Session Tests</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div id="lecture" class="d-none d-md-block"></div>
    <div class="container mt-2">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <div class="effect d-none d-md-block" onclick="flip()">
                        <div class="card-container">
                            <div class="card">
                                <div class="front bg-info" style="padding-top: 20%;">
                            <span id="front-pc" class="word-style">
                                ewatcwvwe
                            </span>
                                </div>
                                <div class="back my-secondary">
                                    <span class="heading-style">Meaning</span>
                                    <p class="text-style">
                                        ["to choose not to do or have something : to refrain deliberately and often with
                                        an effort of self-denial from an action or practice","to choose not to vote"]}]
                                    </p>
                                    <br>
                                    <span class="heading-style">Synonyms</span>
                                    <ul>
{#                                        {% for word in words %}#}
{#                                            <span class="text-style"><li>{{ word }}</li></span>#}
{#                                        {% endfor %}#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}for mobile view{% endcomment %}
                    <div class="effect d-block d-md-none mx-3 mb-4" style="height: 450px" onclick="flip()">
                        <div class="card-container">
                            <div class="card">
                                <div class="front bg-info">
                            <span id="front-mobile" class="word-style">
                                we fg gg44 g
                            </span>
                                </div>
                                <div class="back my-secondary">
                                    <span class="heading-style">Meaning</span>
                                    <p class="text-style">
                                        ["to choose not to do or have something : to refrain deliberately and often with
                                        an effort of self-denial from an action or practice","to choose not to vote"]}]
                                    </p>
                                    <br>
                                    <span class="heading-style">Synonyms</span>
                                    <ul>
{#                                        {% for word in words %}#}
{#                                            <span class="text-style"><li>{{ word }}</li></span>#}
{#                                        {% endfor %}#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="row justify-content-center">
                        <button type="button" onclick="this.blur()" class="btn butn-lg btn-success py-3">I knew
                            this word
                        </button>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <button type="button" onclick="this.blur()" class="btn butn-lg btn-danger py-3">I didn't
                            know this word
                        </button>
                    </div>
                    <div class="row mt-5 justify-content-center d-none d-md-flex">
                        {% load static %}
                        <a href="https://www.dictionary.com/browse/abstain#wordOrigin">
                            <img src="{% static 'images/dictionary.png' %}" alt="dictionary.com meaning"
                                 class="img-thumbnail" title="Word Origin and Examples from Dictionary.com">
                        </a>
                    </div>
                    <div class="row mt-3 justify-content-center d-flex d-md-none">
                        <a href="https://www.dictionary.com/browse/abstain#wordOrigin" role="button"
                           onclick="this.blur()" class="btn butn-lg btn-info py-3">Word Origin from
                            Dictionary.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function flip() {
            $('.card').toggleClass('flipped');
        }
        window.onload = function() {
            let counter = 1;
            let words = {{ words|safe }};
            console.log(words[0]);
            $('#front-pc').text(counter.toString()+"."+words[0]);
            $('#front-mobile').text(counter.toString()+"."+words[0]);
            $('.btn-success').click(function () {
                $('#front-pc').text("new");
                $('#front-mobile').text(words[1]);
            });
            $('.btn-success').click(function () {
                $('#front-pc').text("new");
                $('#front-mobile').text(words[1]);
            })
        }
    </script>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark d-none d-md-block"
            style="position: fixed;bottom: 0;width: 100%;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kewal Shah 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Footer -->
    <footer class="py-5 bg-dark d-block d-md-none">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kewal Shah 2019</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}