{% extends 'base.html' %}

{% block head %}
    <title>Test {{ test|capfirst }}</title>
    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/card.css?v=34' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom border-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'vocab:index' %}">Shiksha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#lecture">
                            <span>Lecture Tests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#session">
                            <span>Session Tests</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div id="lecture" class="d-none d-md-block"></div>
    <div class="container mt-2">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <div class="effect d-none d-md-block" onclick="flip()">
                        <div class="card-container">
                            <div class="card">
                                <div class="front my-primary" style="padding-top: 20%;">
                            <span class="word-style">
                                OSTENTATIOUS
                            </span>
                                </div>
                                <div class="back my-secondary">
                                    <span class="heading-style">Meaning</span>
                                    <p class="text-style">
                                        ["to choose not to do or have something : to refrain deliberately and often with
                                        an effort of self-denial from an action or practice","to choose not to vote"]}]
                                    </p>
                                    <br>
                                    <span class="heading-style">Synonyms</span>
                                    <ul>
                                        {% for word in words %}
                                            <span class="text-style"><li>{{ word }}</li></span>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}for mobile view{% endcomment %}
                    <div class="effect d-block d-md-none mx-3 mb-4" style="height: 450px" onclick="flip()">
                        <div class="card-container">
                            <div class="card">
                                <div class="front my-primary">
                            <span class="word-style">
                                OSTENTATIOUS
                            </span>
                                </div>
                                <div class="back my-secondary">
                                    <span class="heading-style">Meaning</span>
                                    <p class="text-style">
                                        ["to choose not to do or have something : to refrain deliberately and often with
                                        an effort of self-denial from an action or practice","to choose not to vote"]}]
                                    </p>
                                    <br>
                                    <span class="heading-style">Synonyms</span>
                                    <ul>
                                        {% for word in words %}
                                            <span class="text-style"><li>{{ word }}</li></span>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="row justify-content-center">
                        <button type="button" class="btn butn-lg btn-outline-success py-3">I knew this word</button>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <button type="button" class="btn butn-lg btn-outline-danger py-3">I didn't know this word
                        </button>
                    </div>
                    <div class="row mt-5 justify-content-center d-none d-md-flex">
                        {% load static %}
                        <a href="https://www.dictionary.com/browse/abstain#wordOrigin">
                            <img src="{% static 'images/dictionary.png' %}" alt="dictionary.com meaning"
                                 class="img-thumbnail" title="Word Origin from Dictionary.com">
                        </a>
                    </div>
                    <div class="row mt-3 justify-content-center d-flex d-md-none">
                        <a href="https://www.dictionary.com/browse/abstain#examples" role="button"
                           class="btn butn-lg btn-outline-info py-3">Word Origin from Dictionary.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function flip() {
            $('.card').toggleClass('flipped');
        }
    </script>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark d-none d-md-block"
            style="position: fixed;bottom: 0;width: 100%;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kewal Shah 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Footer -->
    <footer class="py-5 bg-dark d-block d-md-none">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kewal Shah 2019</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}