{% extends 'base.html' %}

{% block head %}
    <title>Test {{ test|capfirst }}</title>
    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/card.css?v=sgfcd2xdxdswdsx' %}" rel="stylesheet">
    <script src="{% static 'js/card.js?v=f2s2gddsdhw' %}"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom border-light d-none d-md-block">
        <div class="container">
            {% load static %}
            <a href="{% url 'vocab:index' %}"><img src="{% static 'images/logo.png' %}" type="image/png"></a>
            <a class="navbar-brand" href="{% url 'vocab:index' %}">Shiksha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#lecture">
                            <span>Lecture Tests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#session">
                            <span>Session Tests</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="d-block d-md-none navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom border-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'vocab:index' %}">Shiksha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#lecture">
                            <span>Lecture Tests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vocab:index' %}#session">
                            <span>Session Tests</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div id="lecture" class="d-none d-md-block"></div>
    <div class="container" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <div class="effect d-none d-md-block" onclick="flip()">
                        <div class="card-container">
                            <div class="card">
                                <div class="front bg-info" style="padding-top: 20%;">
                                    <span class="word-style">
                                        Loading...
                                    </span>
                                </div>
                                <div class="back my-secondary">
                                    <span class="heading-style back-head">Meaning</span>
                                    <p class="text-style back-desc">
                                        Loading..
                                    </p>
                                    <span class="heading-style back-score">Synonyms</span>
                                    <span class="list-style back-score-list">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}for mobile view{% endcomment %}
                    <div class="effect d-block d-md-none mx-3 mb-4" style="height: 450px" onclick="flip()">
                        <div class="card-container">
                            <div class="card">
                                <div class="front bg-info">
                                    <span class="word-style">
                                        Loading...
                                    </span>
                                </div>
                                <div class="back my-secondary" style="padding: 25px">
                                    <span class="heading-style back-head">Meaning</span>
                                    <p class="text-style back-desc">
                                        Loading..
                                    </p>
                                    <span class="heading-style back-score">Synonyms</span>
                                    <span class="list-style back-score-list">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col align-self-center d-none d-md-block">
                    <div class="row justify-content-center">
                        <button type="button" onclick="this.blur()" class="btn butn-lg btn-success py-3">I knew
                            this word
                        </button>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <button type="button" onclick="this.blur()" class="btn butn-lg btn-danger py-3">I didn't
                            know this word
                        </button>
                    </div>
                    <div class="row mt-5 justify-content-center">
                        {% load static %}
                        <a href="https://www.dictionary.com/browse/abstain#wordOrigin">
                            <img src="{% static 'images/dictionary.png' %}" alt="dictionary.com meaning"
                                 class="img-thumbnail" title="Word Origin and Examples from Dictionary.com">
                        </a>
                    </div>
                </div>
                {% comment %}Mobile View{% endcomment %}
                <div class="col offset-1 d-block d-md-none">
                    <div class="row justify-content-start">
                        <button type="button" onclick="this.blur()" class="btn butn-lg btn-success py-3">I knew
                            this word
                        </button>
                    </div>
                    <div class="row mt-3 justify-content-start">
                        <button type="button" id="danger" onclick="this.blur()" class="btn butn-lg btn-danger py-3">I
                            didn't
                            know this word
                        </button>
                    </div>
                    <div class="row mt-3 justify-content-start">
                        <a href="https://www.dictionary.com/browse/abstain#wordOrigin" role="button"
                           onclick="this.blur()" class="btn butn-lg btn-info py-3">Word Origin from
                            Dictionary.com
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        let words = null;
        let synonyms = null;
        words = {{ words|safe }};
        meanings = "{{ first_meanings }}";
        synonyms = {{ first_synonyms|safe }};
        csfr_token = '{{ csrf_token }}';
        execute(words, synonyms, meanings, csfr_token);
    </script>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark d-none d-md-block"
            style="position: fixed;bottom: 0;width: 100%;">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kewal Shah 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Footer -->
    <footer class="py-5 bg-dark d-block d-md-none">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kewal Shah 2019</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}