
.card-container {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-perspective: 2500px;
    -moz-perspective: 2500px;
    -o-perspective: 2500px;
    perspective: 2500px;
    border: none;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 0.9s;
    -moz-transition: -moz-transform 0.9s;
    -o-transition: -o-transform 0.9s;
    transition: transform 0.9s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    pointer-events: none;
    border: none;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: none;
}

.card .front {
    padding-top: 15%;
    line-height: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    height: inherit;
    border: 5px solid black;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.card .back {
    padding: 30px;
    color: black;
    border: 5px solid black;
    line-height: 12%;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.card.flipped {
    position: relative;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    pointer-events: none
}


.heading-style {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 0.14em;
    font-weight: bold;
}

.word-style {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 0.2em;
    font-weight: bold;
    margin-top: 50%;
}

#word-name {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 0.2em;
    font-weight: bold;
    margin-top: 50%;
}
#word-name-mobile {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 0.2em;
    font-weight: bold;
}

.effect {
    height: 500px;
    width: 300px;
}
.text-style {
    padding-top: 20px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 0.10em;
    font-weight: bold;
    text-align: justify-all;
}

.list-style {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 0.10em;
    font-weight: bold;
}

ul {
    margin-left: 40px;
    padding-top: 20px;
}
ul li {
    text-align: left;
}

.butn-lg {
    height: 100%;
    width: 300px;
}

.marg-top {
    margin-top: 50%;
}

.back-score {
    display: inline-block;
    -webkit-margin-start: 50px;
}
.back-head {
    display: inline-block;
}


