<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A great place to strengthen your vocabulary">
    <meta property="og:site_name" content="Shiksha Vocabulary">
    <meta property="og:title" content="Shiksha Vocabulary"/>
    <meta property="og:url" content="https://shiksha-gre.herokuapp.com/"/>
    <meta property="og:image:secure_url" itemprop="image" content="https://i.ibb.co/ZXV6r3Z/logo-large.png">
    {% load static %}
    <meta property="og:image" itemprop="image" content="{% static 'images/logo-large.png' %}">
    <meta property="og:description" content="A great place to strengthen your vocabulary">
    <meta property="og:type" content="website" />
    <meta name="author" content="Kewal Shah">

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/custom.css?v=1.5.0' %}" rel="stylesheet">

    <!-- Site Icons -->
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon"/>


    {% load static %}
    <script defer src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% load static %}
    <script defer  src="{% static 'vendor/jquery/jquery.min.js' %}"></script>


    {% block head %}
        <title>Shiksha Vocabulary</title>
    {% endblock %}

</head>

<body>

<!-- Navigation -->
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom border-light">
        <div class="container">
            {% load static %}
            <a href="{% url 'vocab:index' %}"><img src="{% static 'images/logo.png' %}" type="image/png"></a>
            <a class="navbar-brand" href="{% url 'vocab:index' %}">Shiksha</a>
            <button onclick="this.blur()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#lecture">
                            <span>Lecture Tests</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#session">
                            <span>Session Tests</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Kewal Shah 2019</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}

<!-- Bootstrap core JavaScript -->
{% load static %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script>
    $(".card").click(function () {
        var test_id = $(this).attr('id');
        location.href = "{% url 'vocab:test' 'test-id' %}".replace(/test-id/, test_id.toString())
    });
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>
</body>

</html>
